.products-container{
    max-width: 1350px;
    min-height: 80vh;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px 0px;
}

.product-card{
    width: 300px;
    background-color: white;
    padding: 20px;
    display: grid;
    place-items: center;
    gap: 10px;
    box-shadow: 0.1px 0.1px 10px 5px #d5d5d5;
    position: relative;
}

.product-card:hover{
    transform: scale(1.02,1.02)
}

.product-head{
    margin-top: 25px;
    text-align: center;
    min-height: 35px;
    font-size: 18px;
}

.productimage-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75px;
    min-height: 130px;
}

.product-image{
    max-width: 100%;
}

.price{
    font-weight: bold;
    margin-bottom: 20px;
}

.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pagination-buttons{
    background-color: #28a745;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.pagination-buttons:hover{
    background-color: white;
    color: #28a745;
    outline: 2px solid  #28a745;
}