.updatecart-buttons-container{
    display: flex;
}

.increment-button{
    background-color: #28a745;
    border: none;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.increment-button:hover{
    background-color: #1a8232;
}

.decrement-button{
    background-color: rgb(185, 64, 64);
    border: none;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.decrement-button:hover{
    background-color: rgb(130, 38, 26);
}

.cart-item-quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: rgb(255, 255, 255);
}

.remove-cart-button{
    position: absolute;
    top: 3%;
    right: 3%;
    background-color: white;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid red;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.remove-cart-button:hover{
    background-color: red;
    color: white;
    border: 2px solid red;

}