.admin-header{
    background-color: rgb(62, 62, 62);
    position: fixed;
    z-index: 100;
    width: 100%;
}

.admin-header-container{
    background-color: rgb(62, 62, 62);
    display: flex;
    height: 70px;
    max-width: 1350px;
    margin: 0 auto;
}

.admin-app-title{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}